{% extends "base.html" %}
{% block css %}
<style>
      .max-w-lg {
        max-width: 750px !important;
    }
    .loader{
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif')
                      50% 50% no-repeat rgb(249,249,249);
        }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

</style>
{% endblock %}
{% block content %}
<div class="loader hide" id="loader"></div>

<div class="container mx-auto pt-8" xmlns="http://www.w3.org/1999/html">
  <div class="max-w-lg mx-auto mt-8">
    <div class="bg-white rounded-lg shadow-lg p-8">
      <h2 class="text-2xl font-bold mb-4">File Upload</h2>
         {% include 'messagebox.html' %}
        <form id="upload_form" method="post" action="/api/batch_upload" enctype="multipart/form-data"  style="margin-right:10px;">
        <div class="mb-4">
          <label for="batch_csvfile" class="block text-gray-700 font-bold mb-2">
            Select a file to upload
          </label>
          <input type="file" id="batch_csvfile" name="batch_csvfile" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
          Upload
        </button>

        </br>
        </br>
         <div class="mb-4">
           <h3 class="text-lg font-bold mb-2">Instructions</h3>
                <p class="text-gray-600">Please upload a CSV file containing data in the following format:</p>
                <ul class="list-disc list-inside text-gray-600">
                    <li>It should contain columns url,sender_info,recipient_info,word_count</li>
                    <li>Optional columns : search_on_google(True/False), prompt, template, knowledge_base</li>
                </ul>
         </div>
      </form>
    </div>
    <div class="bg-white rounded-lg shadow-lg p-8 mt-8">
      <h2 class="text-2xl font-bold mb-4">Upload Status</h2>
      <div class="overflow-x-auto hide" id="upload_table">
        <table class="table-auto w-full" >
          <thead>
            <tr>
                <th class="px-4 py-2 text-left align-middle">File Name</th>
                <th class="px-4 py-2 text-left align-middle">Created At</th>
                <th class="px-4 py-2 text-left align-middle">Status</th>
                <th class="px-4 py-2 text-left align-middle">URL</th>
            </tr>
          </thead>
          <tbody id="table_rows">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>

    function getJwtToken() {
        // Read the JWT token from the localStorage
        return localStorage.getItem("jwtToken");
    }

    window.onload = function () {
        const jwtToken = getJwtToken();
        if (!jwtToken) {

            window.location.href = "/signup";
            return;
        }else{
            get_data_from_userID();
        }

    };

    var interval;
    const jwtToken = localStorage.getItem("jwtToken");

    $("form#upload_form").submit(function(e) {
        e.preventDefault();
        var formData = new FormData(this);
         // TODO - add loader
         $("#loader").removeClass("hide");
        var validate = validate_file();
            if(validate){
                $.ajax({
                    url: "/api/batch_upload",
                    type: 'POST',
                    data: formData,
                    beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', 'Bearer '+jwtToken);
                        },
                    success: function (data) {
                        interval = setInterval( function() { get_data_from_docID(data["documentID"]); }, 10000);

                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
          }
    });

    function get_data_from_docID(docID){
        //console.log("docID "+docID);
            $.ajax({
                    url: "/api/batch_upload/fetch_upload_progress_report?docID="+docID,
                    type: 'GET',
                    beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', 'Bearer '+jwtToken);
                        },
                    success: function (data) {
                       console.log(data["data"]);
                       $("#loader").addClass("hide");
                       result = data["data"];
                       status = result["status"];
                       $(".attached_row").remove();
                       $("#table_rows").prepend('<tr class="table-info attached_row"><td class="border px-4 py-2 align-middle">'+result["filename"]+'</td><td class="border px-4 py-2 align-middle">'+result["created_at"]+'</td><td class="border px-4 py-2 align-middle">'+result["status"]+'</td><td class="border px-4 py-2 align-middle"><a href="'+result["url"]+'">'+result["url"]+'</a></td></tr>');
                       $("#upload_table").removeClass('hide');
                       if(status == "Success" || status == "Failed"){
                            clearInterval(interval);
                       }
                       if(status == "Success"){
                             // show alert
                             showSuccess("You will recieve the output file link to your email shortly");
                             setTimeout(function() { hideMessageBox(); }, 6000);

                       }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
    }

    function validate_file(){
            var file = document.getElementById("batch_csvfile");
            if( file.files.length == 0 ){
                alert("no files selected");
                 return 0;
            }
            var extension = file.files[0].type;
            if( extension != "text/csv" ){
                alert("Please upload csv files only.");
                return 0;
            }

            return 1;
    }

    function get_data_from_userID(){
        console.log("userId api ");
            $.ajax({
                    url: "/api/batch_upload/fetch_upload_progress_report?userID=true",
                    type: 'GET',
                    beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', 'Bearer '+jwtToken);
                        },
                    success: function (data) {
                       console.log("success results "+data["data"]);
                       all_results = data["data"];
                       for (let i = 0; i < all_results.length; i++) {
                            result = all_results[i];
                            $("#table_rows").last().append('<tr class="table-info"><td class="border px-4 py-2 align-middle">'+result["filename"]+'</td><td class="border px-4 py-2 align-middle">'+result["created_at"]+'</td><td class="border px-4 py-2 align-middle">'+result["status"]+'</td><td class="border px-4 py-2 align-middle"><a href="'+result["url"]+'">'+result["url"]+'</a></td></tr>');
                            $("#upload_table").removeClass('hide');
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
    }




</script>
{% endblock %}