<!DOCTYPE html>
<html>
    <head>
        <title>Buy | WriteGPT</title>
        <style>
            body {
                background-color: #2e2f39;
            }
        </style>
    </head>
    <body>
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table
            pricing-table-id="prctbl_1MfbpeBfHy1q8kzTLe10xnLY"
            publishable-key="pk_live_51MfbNhBfHy1q8kzTSmwgzfrjGTq0W8lEDbTLwJOPcY5sHUC091dtRYeQLzLadgsoh94qJyBkhCN4AmgiNYtqrqLD00Hfmu8W9F"
        >
        </stripe-pricing-table>
    </body>
</html>
