{% extends "base.html" %} {% block title %}Playground | WriteGPT{% endblock %}
{% block content %}
<div class="container mx-auto py-12 flex flex-col items-center">
    <h1 class="text-3xl text-gray-800 font-bold mb-4">WriteGPT Playground</h1>
    <p class="text-gray-600 text-center mb-8">
        This is a preview of what the personalized email API can do. For
        programmatic access you can
        <a class="text-blue-500 hover:text-blue-700 font-semibold" href="/buy"
            >get API access</a
        >.
    </p>
    {% include 'error.html' %}

    <div class="container mx-auto grid grid-cols-2 gap-8">
        <form class="bg-white rounded-lg shadow-lg p-8 mb-4">
            <h2 class="text-xl text-gray-800 font-semibold mb-4">Input</h2>
            <div class="mb-6">
                <label
                    class="block text-gray-600 font-medium mb-2"
                    for="website-url"
                    >Website URL</label
                >
                <input
                    class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:bg-gray-100"
                    id="website-url"
                    type="url"
                    name="website-url"
                    placeholder="https://example.com"
                    required
                />
            </div>
            <div class="mb-4">
                <label
                    class="block text-gray-700 font-medium mb-2"
                    for="sender-info"
                    >Sender Info</label
                >
                <input
                    class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:border-blue-500"
                    id="sender-info"
                    type="text"
                    name="sender-info"
                    placeholder="Jane, Founder at Awesome Inc"
                    required
                />
            </div>
            <div class="mb-4">
                <label
                    class="block text-gray-700 font-medium mb-2"
                    for="recipient-info"
                    >Recipient Info</label
                >
                <input
                    class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:border-blue-500"
                    id="recipient-info"
                    type="text"
                    name="recipient-info"
                    placeholder="John, Founder at Example Co."
                    required
                />
            </div>
            <div class="mb-4">
                <label
                    class="block text-gray-700 font-medium mb-2"
                    for="word-count"
                    >Word Count</label
                >
                <input
                    class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:border-blue-500"
                    id="word-count"
                    type="number"
                    placeholder="400"
                    name="word-count"
                    required
                />
            </div>
            <div class="mb-4">
                <div class="mb-4 flex justify-between items-center">
                    <label
                        class="block text-gray-700 font-medium mb-2"
                        for="prompt"
                        >Prompt</label
                    >
                    <button
                        type="button"
                        class="text-blue-500 hover:text-blue-700 focus:outline-none"
                        onclick="fillPrompt()"
                    >
                        Use example
                    </button>
                </div>
                <textarea
                    class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:border-blue-500"
                    id="prompt"
                    name="prompt"
                    rows="5"
                    placeholder="Ask for [a quick Zoom meeting], and talk about the value you could bring to their company. Add personalization about their company. Tone is [casual]. Add a specific compliment after the signature as P.S."
                    required
                ></textarea>
            </div>

            <button
                id="generate-email-btn"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
                type="submit"
            >
                <span id="generate-email-btn-text">Generate Email</span>
            </button>
        </form>
        <div class="bg-white rounded-lg shadow-lg p-8 flex flex-col">
            <h2 class="text-xl text-gray-800 font-semibold mb-4">Output</h2>
            <div class="relative flex-grow mb-6">
                <textarea
                    class="w-full h-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:bg-gray-100"
                    id="output"
                    readonly
                ></textarea>
                <button
                    class="absolute top-0 right-0 mt-2 mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
                    type="button"
                    onclick="copyToClipboard()"
                >
                    Copy
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="/static/js/playground.js"></script>
<script src="/static/js/protected.js"></script>
{% endblock %}
